# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Balint Gyapjas
	email = balint@gyapjas.de

[credential "https://github.com"]
	username =b4tg5s
[alias]
	lg = log --graph --pretty=format:'%Cblue%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Creset' --abbrev-commit
